body {
    font-family: sans-serif;
    color: white;
    background-color: black;
    background-size: 100px;
    background-image: url(https://cdn.discordapp.com/attachments/1129747764675346525/1139561527180005498/6_20230811191029.png);
}

header {
    text-align: center;
    margin: 0px;
    padding: 5px;
    pointer-events: none;
}

.back
{
    opacity: 0.15;
    position: absolute;
    text-align: center;
    top: 15px;
    left: 0px;
    right: 0px;
}

nav {
    text-align: center;
    margin-top: 10px;
    font-size: x-large;
    padding: 25px;
    border-bottom: 1px white solid;
}

.link-nav {
    text-decoration: none;
    padding: 25px;
    margin: 20px;
    color: rgb(175, 175, 175);
    transition: 1s;
    border: white 1px solid;
}

.selected{
    text-decoration: none;
    padding: 25px;
    margin: 20px;
    color: rgb(175, 175, 175);
    transition: 1s;
    border-left: white 1px solid;
    border-right: white 1px solid;
    border-top: white 1px solid;
    pointer-events: none;
    
}

.link-nav:hover {
    text-decoration: none;
    color: white;
    transition: 1s;
    padding-top: 35px;
}

h1 {
    text-align: center;
    color: white;
    transition: 1s;
    margin-top: 40px;
    margin-bottom: 30px;
    pointer-events: none;
}

div
{
    text-align: center;
    margin-top: 90px;
}

a
{
    margin: 65px;
    padding: 40px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    border: 1px white solid;
}

.yt
{
    background-color: red;
    border-radius: 10px;
}
.ds
{
    background-color: blue;
    border-radius: 10px;
}
.gh
{
    background-color: black;
    border-radius: 10px;
}
